.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba($color-secondary, .93)), to(rgba($color-secondary, .93))), url(../img/hero.jpeg);
    background-image: -webkit-linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpeg);
    background-image: -o-linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpeg);
    background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpeg);
    background-size: cover;
    background-position: center;
    padding: 8rem;
    padding-top: 4rem;
    display: grid;
    grid-template-rows: 1fr -webkit-min-content minmax(-webkit-min-content, 6rem) 1fr;
    grid-template-rows: 1fr min-content minmax(min-content, 6rem) 1fr;
    grid-template-columns: minmax(-webkit-min-content,-webkit-max-content);
    grid-template-columns: minmax(min-content,max-content);
    row-gap: 1.5rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 5rem;
    }

    &__logo {
        height: 3rem;
        justify-self: center;
    }

    &__btn {
        -webkit-align-self: start;
            -ms-flex-item-align: start;
                align-self: start;
        justify-self: start;
    }

    &__seenon-text {
        display: grid;
        grid-template-columns: 1fr -webkit-max-content 1fr;
        grid-template-columns: 1fr max-content 1fr;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 1.5rem;
        font-size: 1.6rem;
        color: $color-grey-light-2;

        &::before,
        &::after {
            content: "";
            height: 1px;
            display: block;
            background-color: currentColor;
        }
    }

    &__seenon-logos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        -webkit-column-gap: 3rem;
           -moz-column-gap: 3rem;
                column-gap: 3rem;
        justify-items: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;

        img {
            max-height: 2.5rem;
            max-width: 100%;
            -webkit-filter: brightness(70%);
                    filter: brightness(70%);
        }
    }
}